* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

/* <!-- ส่วนข้างบน --> */
nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 20px 40px;

  a {
    text-decoration: none;
    font-weight: 600;
    color: black;
  }
}

.head-con {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.head-box {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.head-left {
  width: 60%;

  p {
    margin-top: 30px;
  }

  button {
    margin-top: 30px;
    width: 150px;
    padding: 10px;
    background-color: rgba(255, 100, 100);
    color: white;
    border: none;
  }
}

.head-right {
  img {
    border-radius: 50%;
  }
}


/* <!-- ส่วนตรงกลาง --> */
.middle {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(236, 236, 236);
}

.middle-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.middle-top {
  margin: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: rgba(33, 179, 210);
  }
}

.middle-content {
  margin-bottom: 20px;
  width: 100%;
  height: 27vh;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
}

/* <!-- content-left $ content-right --> */

.middle-content-left,
.middle-content-right {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.date-line {
  margin: 20px 0;
  display: flex;
}

.line {
  margin: 0 20px;
  width: 1px;
  height: 16px;
  background-color: black;
}

/* <!-- ส่วนล่าง --> */
.lower {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lower-box {
  width: 80%;

  p {
    margin: 10px 0;
  }
}

.lower-box-head {
  display: flex;

  img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
  }
}

.lower-box-content {
  margin-left: 16px;

  span {
    color: rgb(133, 133, 133);
  }
}

.lower-line {
  width: 100%;
  height: 1px;
  background-color: rgb(189, 189, 189);
  margin: 18px 0;
}

/* <!-- footer --> */

.icon {
  margin-top: 70px;
  text-align: center;

  i {
    font-size: 26px;
    margin: 8px;
  }

  p {
    margin-bottom: 20px;
  }
}

.year p {
  margin-right: 10px;
  padding: 3px 8px;
  display: inline;
  background-color: rgb(0, 0, 0);
  border-radius: 40px;
  color: white;
}

@media (max-width: 425px) {
  .head-box {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-content: center;
  }

  .head-right img {
    margin-bottom: 40px;
  }

  .head-left {
    width: 100%;
  }

  .middle-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .middle-content-left,
  .middle-content-right {
    width: auto;
  }

  .lower-box p {
    text-align: center;
  }

  .year {
    margin: 20px 0;
  }

  .lower-box-head {
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      margin: 0 auto;
      height: 180px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 769px) {
  .middle-content {
    height: auto;
  }

  .lower-box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .lower-box-head {
    img {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1440px) {
  .middle-content {
    height: auto;
  }

  .lower-box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .lower-box-head {
    img {
      width: 100%;
    }
  }
}



/*Blog*/

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.box {
  width: 60%;

  h1 {
    margin: 60px 0 30px 0;
  }
}

.content {
  h2 {
    margin-block: 16px;
  }
}

.day-line {
  margin-bottom: 16px;
  display: flex;
  gap: 20px;
}

.line-h {
  width: 1px;
  height: 20px;
  background-color: gray;
}

.line-w {
  width: 100%;
  height: 1px;
  background-color: gray;
  margin: 20px 0;
}

@media (max-width: 426px) {
  .box {
    width: 90%;
  }
}

footer {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.icon i {
  font-size: 34px;
  margin: 0 30px 30px 0;
}

/*Works*/

.lower-box h1 {
  margin: 60px 0 30px 0;
}

.year {
  margin: 20px 0;
}